@import 'line';
@import '../color.scss';

.exampleBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1050px;
  margin: auto;
  margin-top: 50px;

  .example {
    font-size: 45px;
    line-height: 70px;
  }
}