@mixin line($width) {
  width: $width;
  height: 20px;
  color: $primary-yellow2;
  background-color: $primary-yellow2;
  border-color: transparent;
  border-radius: 5px;
  
  display: block;
  margin: auto;
  }