@import 'titleBox';
@import 'line';
@import 'menuLoading';
@import '../color.scss';

.dailyExercise {
  width: 100%;
  text-align: center;

  .titleBox {
    @include titleBox(1320px, 75px);
    background-color: $secondary-red;
    color: $basic-white;
  }

  .nari {
    @include nari
  }

  .title {
    @include title(55px, 55px);
  }

  .videos {
    display: flex;
    justify-content: center;

      .video1 {
        width: 660px;
        height: 371.25px;
        background-color: $basic-black;
        color: $basic-white;
      }
    
      .video2 {
        width: 660px;
        height: 371.25px;
        background-color: gray;
      }
  }

  .explainBox {
    display: flex;
    align-items: flex-end;
    // justify-content: center;
    margin-top: 50px;

    .goToMainBlue {
      margin-right: 10%;
    }

    .explainLine {

      .explain {
        font-size: 50px;
        line-height: 70px;
        margin-top: 75px;
      }
    }
  }

  .line {
    @include line(950px)
  }
}

.dailyExerciseLoading {
  width: 100%;
  height: 100vh;
  background-color: $secondary-red;
  padding-top: 50px;

  .speech {
    @include speech(18%)
  }
}