@import 'titleBox';
@import 'line';
@import 'menuLoading';
@import '../color.scss';

.familyQuiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .titleBox {
    @include titleBox(1320px, 75px);
    background-color: $secondary-blue;
    color: $basic-white;
  }

  .nari {
    @include nari;
  }

  .title {
    @include title(55px, 55px);
  }

  .question {
    width: 660px;
    height: 371.25px;
    background-color: $basic-black;
    display: inline-block;
    margin-top: 55px;
  }

  .answer {
    display: flex;
    align-items: flex-end;
    // justify-content: space-around;
  }

  .line {
    @include line(1000px);
  }
}

.familyQuizLoading {
  width: 100%;
  height: 100vh;
  background-color: $secondary-blue;
  padding-top: 50px;

  .speech {
    @include speech(19%);
  }
}