@import 'titleBox';
@import 'line';
@import 'menuLoading';
@import '../color.scss';

.familyQuiz {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .titleBox {
    @include titleBox(1320px, 75px)
  }

  .nari {
    @include nari
  }

  .title {
    @include title(55px, 55px)
  }

  .question {
    width: 660px;
    height: 371.25px;
    background-color: $secondary-red;
    display: inline-block;
    margin-top: 55px;
  }

  .explain {
    font-size: 50px;
    line-height: 70px;
    margin-top: 75px;
    white-space: pre-line;
  }

  .line {
    @include line(1000px)
  }
}

.familyQuizLoading {
  width: 100%;
  height: 100vh;
  background-color: $primary-yellow2;
  padding-top: 50px;

  .speech {
    @include speech(45px, 19%)
  }
}