@import 'titleBox';
@import 'line';
@import 'menuLoading';
@import '../color.scss';

.familyQuiz {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;

  .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .titleBox {
    @include titleBox($secondary-blue, $basic-white, 1320px, 0px);
  }

  .nari {
    @include nari;
  }

  .title {
    @include title(55px, 55px);
  }

  .question {
    width: 660px;
    height: 371.25px;
    background-color: $basic-black;
    display: inline-block;
  }

  .answer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  .line {
    @include line(1000px);
  }

  .goBox {
    display: flex;
    justify-content: space-between;

    .goToMainRed {
      margin-left: 10px;
      margin-bottom: 10px;
      // position: absolute;
    }
  
    .goNext {
      margin-right: 10px;
      // margin-left: 1090px;
      // margin-bottom: 10px;
      // position: absolute;
    }
  }
}

.familyQuizLoading {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $secondary-blue;
  padding-top: 50px;

  .menuLoading {
    @include menuLoading(19%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}