@import 'titleBox';
@import 'line';

.familyQuizResult {
  width: 100%;
  text-align: center;

  .titleBox {
    @include titleBox($secondary-blue, $basic-white, 1320px, 99px);
  }

  .nari {
    @include nari;
  }

  .title {
    @include title(55px, 55px);
  }

  .seniorQuiz {
    width: 660px;
    height: 371.25px;
  }

  .explain {
    font-size: 50px;
    margin-top: 75px;
  }

  .line {
    @include line(410px);
  }
}