@import "../color.scss";

@mixin menuLoading($left) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nari {
    width: 450px;
    height: 450px;
  }

  .speechBubble {
    display: flex;
    position: relative;

    .bubbleImage {
      width: 1020px;
      height: 240px;
    }

    .speech {
      font-size: 55px;
      line-height: 90px;
    
      position: absolute;
      top: 48px;
      left: $left;
      text-align: center;
      white-space: pre-line;
    }
  }
}