@import "../color.scss";

@mixin menuImage($left) {
  position: absolute;
  width: 450px;
  height: 600px;
  left: $left;
  top: 350px;
  border-radius: 20px;
}

@mixin menuBorder($left, $color) {
  position: absolute;
  width: 450px;
  height: 600px;
  left: $left;
  top: 350px;
  border: 20px solid $color;
  border-radius: 20px;
}

@mixin menuButton($left, $color) {
  position: absolute;
  width: 360px;
  height: 90px;
  left: $left;
  top: 811px;

  background: $color;
  border-radius: 20px;
  font-size: 60px;
  color: $basic-white;
}


.dailyExercise {
  .exerciseImage {
    @include menuImage(185px)
  }

  .exerciseBorder {
    @include menuBorder(185px, $secondary-red)
  }

  .exerciseButton {
    @include menuButton(230px, $secondary-red)
  }
}

.photoDiary {
  .diaryImage {
    @include menuImage(735px)
  }

  .diaryBorder {
    @include menuBorder(735px, $secondary-yellow)
  }

  .diaryButton {
    @include menuButton(780px, $secondary-yellow)
  }
}

.familyGame {
  .gameImage {
    @include menuImage(1285px)
  }

  .gameBorder {
    @include menuBorder(1285px, $secondary-blue)
  }

  .gameButton {
    @include menuButton(1331px, $secondary-blue)
  }
}