@import 'titleBox';
@import 'line';

.seniorLogin {
  width: 100%;
  text-align: center;

  .titleBox {
    @include titleBox($primary-yellow2, $basic-black, 1320px, 150px);
  }

  .nari {
    @include nari;
  }

  .title {
    @include title(55px, 55px);
  }

  .nameBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 150px;

    .seniorName {
      font-size: 150px;
    }

    .line {
      @include line(550px);
      margin: 0px;
    }

    .explain {
      font-size: 150px;
      line-height: 205px;
    }
  }
}